/*------------------------------         
	Media Query 
------------------------------*/ 
 
@media all and (max-width: 1500px) 
{  
    body{
        overflow-x: hidden;
    }
} 
 
 
@media all and (max-width: 1200px) 
{     
    body{
        overflow-x: hidden;
    }
} 
 
 
@media all and (max-width: 991px) 
{    
    body{
        overflow-x: hidden;
    }
    .about{
        display: block;
    }    
    .about-image{
        display: block;
        text-align: center;
    }
    .for-hide img{
        display: none;    
    }
} 

 
@media all and (max-width: 768px) {    
    body{
        overflow-x: hidden;
    }
    .nav-menu h1{
        font-size: 32px;
        margin-bottom: 5px;
    }
    .nav-display{
        margin-top: 50px;
        transition: all 0.5s linear;
    }
    
    .hide li{
        display: none;
    }
    
    .skills{
        display: block;
        text-align: center;
    }
    .skills i{margin-bottom: 5px;}
    .skills h2{
        margin-bottom: 5px;
    }
    .final-section h3{
        font-size: 12px;
    }
    
     .open {
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
     }

     .open a {
         font-size: 25px;
         padding: 15px;
     }
    
     .open-button span {
         display: block;
         justify-content: center;
         align-items: center;
     }
} 

 
 
@media all and (max-width: 480px) {    
    img{
        width: 100%;
    }
    .for-hide img{
        display: none;    
    }
} 
 
@media all and (max-width: 430px) {    
    
} 

@media all and (max-width: 320px) {    
   
    .contact-me h2{
        font-size: 26px;
    }
    .final-section h3{
        font-size: 8px;
    }
    .social-connects i{
        font-size: 16px;
    }
} 
 
