/* ---------------------------------
    color themes for website 
1. black color:#292726;
2. extreme light blue :#DAD2FC;
3. red:#FF391D;
-------------------------------------*/

/* ---------------------
    fonts used
font-family: 'Roboto', sans-serif;
font-family: 'Vollkorn', serif;
-----------------------*/

/* body css*/
*{
    margin: 0;
    padding: 0;
}

body h1,
body h2,
body h3{
    font-family: 'Vollkorn', serif;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

/* header styling */

.menu{
    background-color: #292726;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.nav-menu ul{
    display: flex;
    
    margin-right: 20px;
}

.nav-menu ul li{
    list-style: none;
    padding: 10px;
    margin-left: 20px;
    display: inline-block;
}

.nav-menu h1{
    text-transform:capitalize;
    word-spacing: 4px;
    letter-spacing: 2px;
    color: #DAD2FC;
    margin-left: 20px;
}

.nav-menu span{
    color: #FF391D;
}

.nav-menu a{
    text-decoration: none;
    color: #DAD2FC;
    font-size: 18px;
    font-family:'Roboto', sans-serif;
    padding: 20px;
    transition: all 0.3s ease-in-out;
}

.nav-menu a:hover{
    background-color: #FF391D;
    color:white;
}

.image{
    background:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/first.jpg);
    width: 100vw;
    height:70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #DAD2FC;
    text-align: center;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image h2{
    font-size: 38px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}


/* about section */

.about-myself{
    margin-top:80px;
    margin-left: 20%;
    margin-bottom: 80px;
}
.about {
    background-color: #DAD2FC;
    padding:30px;
    width: 70%;
    display: flex;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.about-image{
    margin-right: 30px;
}

.about-image img{
    border: 4px solid transparent;
    filter: grayscale(100%);
    transition: all 0.5s linear;
}

.about-image img:hover{
    cursor: pointer;
    filter: none;
    border-radius: 150px;
    border: 4px solid black;
}

.about-text h2{
    margin-bottom: 10px;
    border-bottom: 2px solid red;
    font-size: 28px;
    word-spacing: 2px;
    letter-spacing: 4px;
}

.about-text p{
    word-spacing: 2px;
    font-size: 16px;
    text-align: justify;
    margin-top: 20px;
}

/* skills section */

.skills h2{
    text-transform: capitalize;
    word-spacing: 2px;
    letter-spacing: 4px;
}

.my-skills{
    margin-top: 20px;
    padding: 50px;
    background-color: #292726;
}

.my-skills h1{
    margin-bottom: 20px;
    text-transform: capitalize;
    word-spacing: 2px;
    letter-spacing: 4px;
    font-size:36px;
    border-bottom: 4px solid #DAD2FC;
    color: #DAD2FC;
}

.skills{
    padding: 20px;
    margin-bottom: 30px;
    background-color: #FF391D;
    color:#DAD2FC;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    display: flex;
}

.skills:nth-child(3){
    background-color: #DAD2FC;
    color: #FF391D;
}

.for-flex{
    margin-left: 20px;
}

.skills i{
    font-size: 62px;
    margin-left: 20px;
    padding: 10px;
}

/* contact me */

.contact-me{
    padding: 50px;
    background-color: #DAD2FC;
}

.contact-me h2{
    font-size:36px;
    color: #292726;
    text-transform: capitalize;
    word-spacing: 4px;
    letter-spacing: 2px;
    margin-bottom: 20px;
    border-bottom: 4px solid #292726;;
}

.contact-me p{
    margin-bottom: 15px;
}

form{
    display: flex;
    flex-direction: column;
}

input{
    font-size: 20px;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 10px;
    background-color: transparent;
    color: #292726;
}

textarea{
    margin-bottom: 30px;
    resize: none;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    border-color: black;
    background-color: transparent;
    color: #292726;
    font-family: 'Roboto', sans-serif;
}

button
{
    font-size: 20px;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    background-color: transparent;
    border-color: black;
}

button:hover{
    cursor: pointer;
    transform: scale(0.95);
    border-color: red;
    color: white;
    background-color: #FF391D;
}

/* social connects design */

.social-connects{
    text-align: center;
}

.social-connects i{
    font-size: 22px;
    padding: 10px;
    transition: all 0.3s ease-in-out;
}

.social-connects i:hover{
    cursor: pointer;
    color: #FF391D;
}

.social-connects a{
    color: black;
}

/* footer style */

.final-section{
    background-color: #292726;
    color: white;
}

.final-section h3{
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    word-spacing: 6px;
    letter-spacing: 2px;
}


/*------------------------------           
	Preloader 
------------------------------*/ 
 
.load {     
	position:fixed;     
	top:0;     
	left:0;     
	z-index: 9999;     
	background-color: #fff; 
    width: 100%;     
	height: 100vh;     
	display: flex;     
	justify-content: center;     
	align-items: center; 
} 
 
.load hr{
    width:30px;     
	height:30px;     
	position:absolute;     
	border-radius:50%;     
	animation:spin 2s ease infinite; 
} 
 
.load :first-child{
    background:#222;
    animation-delay:-1.5s
} 
.load :nth-child(2){
    background:#F79041;
    animation-delay:-1s
} 
.load :nth-child(3){
    background:#222;
    animation-delay:-0.5s
} 
.load :last-child{background:#F79041} 
 
@keyframes spin{
    0%,100% {
        transform:translate(0)   
}   
	25% {
       transform:translate(160%)   
}   
50% { 
      transform:translate(160%, 160%)   
}   
75% { 
      transform:translate(0, 160%)   
} 
}


/*------------------------------            
	Back to top 
------------------------------*/ 
.backtotop 
{     
    position: fixed;     
    bottom: 20px;     
    right: 20px;     
    z-index: 1000;     
    display: block;     
    cursor: pointer; 
    transition: all .5s linear;     
    width: 50px;     
    height: 50px;     
    background-color: #292726;     
    border-radius: 50%;     
    box-shadow: 1px 1px 15px -3px #000;     
    display: flex;     
    justify-content: center;     
    align-items: center; 
} 
 
.backtotop div {    
    border: solid #fff;    
    border-width: 0 3px 3px 0;    
    display: inline-block;    
    padding: 6px;    
    transform: rotate(-135deg); 
} 

.hidden {     
    display: none; 
} 
